body {
    min-height: 4096px;
    background-color: blue;
    margin: 0;
    padding: 0;
}

footer {
    width: 100vw;
    height: 10vh;
    bottom: 0;
    position: fixed;
    background-color: red;
}